In [6]:
import mysql.connector

conexion=mysql.connector.connect(host='database-2.cqvkjdbtsdxm.us-east-2.rds.amazonaws.com',
                                              database='prueba',
                                              user='gualas',
                                              password='Chrono69+')

In [7]:
gualas='gualas'
password='chrono69'
cur=conexion.cursor()
sql='''select it.IdItem, mar.Nombre as Marca, it.Familia, it.Descripcion, it.Unidad_Med,pre.Precio_Venta,pre.Precio_Minimo 
FROM items it 
JOIN marca mar ON(it.IdMarca=mar.IdMarca)
JOIN precio pre ON(it.IdItem=pre.IdItem) WHERE it.IdItem like '%{}%' or it.Descripcion like '%{}%';'''.format('8N3327','8N3327')
cur.execute(sql)
usersx=cur.fetchall()
cur.close()
usersx

[('8N3327',
  'COSTEX ',
  'CATERPILLAR',
  'BALANCIN DE ADMISION ',
  'Pieza ',
  '25',
  '15')]